# ===========================
# Java
# ===========================
*.class
*.jar
*.war
*.ear
*.iml
*.log
*.ctxt

# Evitar archivos generados por JVM
hs_err_pid*
replay_pid*

# ===========================
# NetBeans
# ===========================
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
*.nb-gradle*

# ===========================
# Maven / Gradle (por si el IDE genera algo)
# ===========================
target/
out/
.gradle/
build/

# ===========================
# Archivos de sistema (Windows / macOS / Linux)
# ===========================
# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~

# ===========================
# IDEs adicionales
# ===========================
# IntelliJ IDEA
.idea/
*.ipr
*.iws
*.iml

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# ===========================
# Configuración sensible
# ===========================

#db.properties

# ===========================
# Librerías externas
# ===========================

# lib/
# *.jar

